In [12]:
import os, sys, inspect
# sys.path.append('../..')

import pandas as pd
from pathlib import Path
import glob as glob
import os
import numpy as np
import re
import json
from unidecode import unidecode
from datetime import datetime, timedelta, date
from connection import SCORE_DB_CONN, ANALYTICS_DB_CONN
from avay_bq import AvayBQServiceAcc
from da_utils.client.bigquery_client import BigQueryClient
from da_utils.client.google_sheets_client import GoogleSheetsClient
from da_utils.repository.google_sheets.google_sheets_repository import GoogleSheetsRepository
from da_utils.repository.bigquery.bigquery_repository import BigqueryRepository



pd.set_option("display.max_row", 100)

In [13]:
adc_path = '/home/linhnguyen/application_default_credentials.json'
avay_bq_acc = AvayBQServiceAcc()
bq_client = BigQueryClient(billing_project_id='prj-ts-p-analytic-8057', adc_file_path_str=adc_path)
bq_repo = BigqueryRepository(bq_client)

/home/linhnguyen/.venv/lib/python3.9/site-packages/google/auth/_default.py:83: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [15]:

lead_phone_infos = pd.read_sql(
    """
    with pre as (
select id as lead_id, 
case when (other->>'sender' in ('sms','click') or other->>'source' like '%%sms%%') then 'SMS' else 'AVAY' end as channel,
bound_code as offer_code,
to_char(sent_at at time zone 'utc+7', 'YYYY-MM') as month,
score_range,
left(score_range,3)::numeric as min_score,
right(score_range,3)::numeric as max_score,
telco_code
from phone_infos
where 1=1
and bank_code in ('lotte')
and sent_at at time zone 'utc+7' >= '2022-01-01'
and sent_at at time zone 'utc+7' < '2023-03-01'
and pre_scoring_data->>'is_qualified'='true'
and was_sent = true)

select *,
case when min_score <= 631 and max_score <= 631 then '[600-630]' else '[631+)' end as score_range2
from pre
""",
    SCORE_DB_CONN,
)

In [19]:
disbursed = pd.read_sql(
    """
select lead_id, 
    case when bank_code = 'lotte' then batch_date else disbursed_date end as loan_date, 
    (select max(disbursed_date) from leadgen.disbursals) report_date,
    -- '2023-01-31'::date AS report_date,
    loan_amount,
    commission
from leadgen.disbursals
where true and bank_code = 'lotte'
""",
    ANALYTICS_DB_CONN,
)

In [20]:
mapping = lead_phone_infos.merge(disbursed, how = 'left')
mapping['disbursed'] = np.where(mapping['loan_date'].notnull(),1,0)
mapping

,lead_id,channel,offer_code,month,score_range,min_score,max_score,telco_code,score_range2,loan_date,report_date,loan_amount,commission,disbursed
0,13330794,SMS,LOTTE02,2022-11,660-669,660.0,669.0,viettel,[631+),2022-11-29,2023-01-31,NaN,280000.0,1
1,13501747,AVAY,LOTTE02,2023-01,610-619,610.0,619.0,viettel,[600-630],2023-01-03,2023-01-31,NaN,168000.0,1
2,13502062,AVAY,LOTTE02,2023-01,760-769,760.0,769.0,viettel,[631+),2023-01-03,2023-01-31,NaN,168000.0,1
3,13501744,AVAY,LOTTE02,2023-01,640-649,640.0,649.0,viettel,[631+),2023-01-03,2023-01-31,NaN,168000.0,1
4,13501863,AVAY,LOTTE02,2023-01,750-759,750.0,759.0,viettel,[631+),2023-01-03,2023-01-31,NaN,168000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88713,13729582,AVAY,LOTTE02,2023-02,720-729,720.0,729.0,viettel,[631+),NaN,NaN,NaN,NaN,0
88714,13729333,AVAY,LOTTE02,2023-02,610-619,610.0,619.0,viettel,[600-630],NaN,NaN,NaN,NaN,0
88715,13729539,AVAY,LOTTE02,2023-02,680-689,680.0,689.0,viettel,[631+),NaN,NaN,NaN,NaN,0
88716,13729373,AVAY,LOTTE02,2023-02,600-609,600.0,609.0,viettel,[600-630],NaN,NaN,NaN,NaN,0
88717,13729417,SMS,LOTTE02,2023-02,740-749,740.0,749.0,viettel,[631+),NaN,NaN,NaN,NaN,0

In [21]:
lfvnlead = mapping.groupby(["channel", "offer_code", "score_range2","month","telco_code"]).agg({"lead_id":"count", "disbursed": "sum"}).reset_index()

lfvnlead

   channel offer_code score_range2    month    telco_code  lead_id  disbursed
0     AVAY    LOTTE00       [631+)  2023-02      mobifone       86          0
1     AVAY    LOTTE00       [631+)  2023-02  vietnamobile        6          0
2     AVAY    LOTTE00       [631+)  2023-02     vinaphone      128          0
3     AVAY    LOTTE02    [600-630]  2022-08       viettel       99         30
4     AVAY    LOTTE02    [600-630]  2022-09       viettel      285        110
5     AVAY    LOTTE02    [600-630]  2022-10       viettel      431        118
6     AVAY    LOTTE02    [600-630]  2022-11       viettel     1144        376
7     AVAY    LOTTE02    [600-630]  2022-12       viettel     2596        945
8     AVAY    LOTTE02    [600-630]  2023-01       viettel     1692        632
9     AVAY    LOTTE02    [600-630]  2023-02       viettel     1172          0
10    AVAY    LOTTE02       [631+)  2022-01       viettel     1869        769
11    AVAY    LOTTE02       [631+)  2022-02       viettel      658        293
12    AVAY    LOTTE02       [631+)  2022-03       viettel     1013        437
13    AVAY    LOTTE02       [631+)  2022-04       viettel     1391        676
14    AVAY    LOTTE02       [631+)  2022-05       viettel     1369        672
15    AVAY    LOTTE02       [631+)  2022-06       viettel     1151        435
16    AVAY    LOTTE02       [631+)  2022-07       viettel     1067        440
17    AVAY    LOTTE02       [631+)  2022-08       viettel     1328        497
18    AVAY    LOTTE02       [631+)  2022-09       viettel     2497       1270
19    AVAY    LOTTE02       [631+)  2022-09     vinaphone      646        380
20    AVAY    LOTTE02       [631+)  2022-10       viettel     3527       1350
21    AVAY    LOTTE02       [631+)  2022-10     vinaphone      966        381
22    AVAY    LOTTE02       [631+)  2022-11       viettel     4481       1816
23    AVAY    LOTTE02       [631+)  2022-11     vinaphone     1060        440
24    AVAY    LOTTE02       [631+)  2022-12       viettel     5674       2356
25    AVAY    LOTTE02       [631+)  2023-01       viettel     4738       2065
26    AVAY    LOTTE02       [631+)  2023-02       viettel     3445          0
27     SMS    LOTTE01    [600-630]  2022-11      mobifone      748         51
28     SMS    LOTTE01    [600-630]  2022-11       viettel     2415        857
29     SMS    LOTTE01    [600-630]  2022-12      mobifone     1110         53
30     SMS    LOTTE01    [600-630]  2022-12       viettel     2637        922
31     SMS    LOTTE01    [600-630]  2023-01      mobifone      812         21
32     SMS    LOTTE01    [600-630]  2023-01       viettel     1664        612
33     SMS    LOTTE01    [600-630]  2023-02      mobifone      773          0
34     SMS    LOTTE01    [600-630]  2023-02       viettel     1564          0
35     SMS    LOTTE01       [631+)  2022-01      mobifone      245        111
36     SMS    LOTTE01       [631+)  2022-02      mobifone      257        119
37     SMS    LOTTE01       [631+)  2022-03      mobifone      523        255
38     SMS    LOTTE01       [631+)  2022-04      mobifone      501        237
39     SMS    LOTTE01       [631+)  2022-05      mobifone      571        256
40     SMS    LOTTE01       [631+)  2022-06      mobifone      657         52
41     SMS    LOTTE01       [631+)  2022-07      mobifone      530         42
42     SMS    LOTTE01       [631+)  2022-08      mobifone      336         30
43     SMS    LOTTE01       [631+)  2022-09      mobifone      386         26
44     SMS    LOTTE01       [631+)  2022-10      mobifone      315         28
45     SMS    LOTTE01       [631+)  2022-11      mobifone      227          9
46     SMS    LOTTE01       [631+)  2022-12      mobifone       35          2
47     SMS    LOTTE01       [631+)  2023-01      mobifone       28          0
48     SMS    LOTTE01       [631+)  2023-02      mobifone       25          0
49     SMS    LOTTE02       [631+)  2022-01      mobifone      205        110
50     SMS    LOTTE02       [631+)  2022-02      mobifone      114         70
51     SMS    LOTTE02       [631+)  2022-03      mobifone      747        410
52     SMS    LOTTE02       [631+)  2022-04      mobifone     1128        613
53     SMS    LOTTE02       [631+)  2022-05      mobifone     1390        714
54     SMS    LOTTE02       [631+)  2022-06      mobifone     1621        184
55     SMS    LOTTE02       [631+)  2022-07      mobifone     1292        174
56     SMS    LOTTE02       [631+)  2022-08      mobifone      883         85
57     SMS    LOTTE02       [631+)  2022-09      mobifone     1339        153
58     SMS    LOTTE02       [631+)  2022-10      mobifone      759         95
59     SMS    LOTTE02       [631+)  2022-11      mobifone      764         72
60     SMS    LOTTE02       [631+)  2022-11       viettel     2698       1048
61     SMS    LOTTE02       [631+)  2022-12      mobifone      646         37
62     SMS    LOTTE02       [631+)  2022-12       viettel     3732       1450
63     SMS    LOTTE02       [631+)  2023-01      mobifone      421         12
64     SMS    LOTTE02       [631+)  2023-01       viettel     2687       1075
65     SMS    LOTTE02       [631+)  2023-02      mobifone      349          0
66     SMS    LOTTE02       [631+)  2023-02       viettel     2880          0
67     SMS    LOTTE03       [631+)  2022-11      mobifone      790         62
68     SMS    LOTTE03       [631+)  2022-12      mobifone     1652        129
69     SMS    LOTTE03       [631+)  2023-01      mobifone      947         48
70     SMS    LOTTE03       [631+)  2023-02      mobifone      796          0

In [22]:
client = GoogleSheetsClient()
repo = GoogleSheetsRepository(client)
workbook = repo.open_spreadsheet_by_key("1BCn3B2uk6cZeUW38fG6Uc9A8b3IehXmIXc8Bo0OJwns")
repo.write_df_to_sheet(workbook.worksheet("data"),lfvnlead)